.navbar {
    background-color: rgb(255,254,252);
    padding-right:10px;
    border-bottom:1px solid #E3E3E3; 
}

.header {
    max-width: 1260px;
}

.app-logo{
    max-width: 50px;
    transform: translate(15%, -5%);
}

.navbar-brand {
    font-weight: bold ;
    letter-spacing: 0px;
    color: black;
    font-size: 17px;
    padding-top: 8px;
    font-family: Arial;   
}

.nav-item{
    padding-right: 5px;
}

.login-con{
    padding-right: 14px;
}
@media (max-width: 767.98px) {                  
    .login-con {
        display: none;
    }
}

.nav-login{
    padding: 5px;
}

.nav-link {
    color: black;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 105%;
    font-family: Arial;
}

.nav-link:hover{
    background: rgb(245, 244, 241);
}

.nav-toggler{
    background-color: rgb(255,254,252);
    border: none; 
    color: #1F1F1F;
    padding: 8px 12px; 
    font-size: 24px; 
    cursor: pointer; 
}

.nav-toggler:active, .nav-toggler:focus{
    border: none;
    box-shadow: none;
}

.btn.nav-btn{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    height: 35px;
    min-width: 150px;
    font-family: Arial;
}
@media (max-width: 767.98px) {                  
    .btn.nav-btn {
        width:100%;
    }
}

.primary {
    color: #FFFFFF;
    background: #e16259;
    border: 1px solid #be5643;
    box-shadow: 0 1px 2px rgba(15, 15, 15, 0.1);
}
.primary:hover {
    background: #ac4b44;
}

.btn.secondary {
    min-width:80px;
    color: black;
    background: rgb(255,254,252);
    box-shadow: 0 1px 2px rgba(15, 15, 15, 0.1);
}
.btn.secondary:hover {
    background: rgb(225,224,222);
    border: 1px solid #be5643;
}
@media (max-width: 767.98px) {                  
    .btn.secondary {
        width:100%;
        border: 1px solid #be5643;
        margin-top:10px;
    }
}

.section-div {
    background-color: rgb(255,254,252);
    max-width: 1340px;
    margin: auto;
    padding-top: min(120px,10vw);
    padding-left: min(5vw,40px);
    padding-right: min(5vw,40px);
}

.section-row {
    min-height: 100px;
    margin-bottom: min(15vw,110px);
}

.home-page-img {
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 240px; 
}

.home-img-container {
    width: 50vw;
    min-width: 240px; 
    max-width: 540px;
    height: auto;
    margin: auto;
}
@media (max-width: 1199.98px) {
    .home-img-container{
        max-width: 420px;
    }
}

.top-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    color: black;
    font-weight: 700;
    font-size: 3.8625rem;
    line-height: 3.9625rem;
    font-variation-settings: "wght" 671;
    letter-spacing: -0.0115em;
    font-family: Arial;
}
@media (max-width: 991.98px) {
    .top-title{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 575.98px) {
    .top-title{
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
    }
}
@media (max-width: 372.98px) {
    .top-title{
        font-weight: 700;
        font-size: 33px;
        line-height: 33px;
    }
}

.top-text{
    margin-top: auto;
    margin-bottom: auto;
}

.top-subtitle {
    max-width: 420px;
    margin-bottom: 20px;
}

.top-subtitle-h {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: rgb(102,102,101);
    font-weight: 500;
    font-size: 1.1625rem;
    line-height: 1.3625rem;
    letter-spacing: -0.0115em;
    font-family: Arial;
}
@media (max-width: 991.98px) {
    .top-subtitle{
        margin-left: auto;
        margin-right: auto;
        max-width: 420px;
    }
    .top-subtitle-h{
        font-size: 1.0625rem;
        line-height: 1.2625rem;
        font-weight: 500;
        letter-spacing: -0.0315em;
    }
}

.top-btn{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    width: 160px;
    height: 36px;
    font-family: Arial;
}

.top-button{
    margin-bottom: 36px;
}
@media (max-width: 991.98px) {
    .top-button{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.top-desc {
    margin-bottom: 0px;
}

.top-desc-h {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: rgb(102,102,101);
    font-weight: 500;
    font-size: 0.8625rem;
    font-family: Arial;
}
@media (max-width: 991.98px) {
    .top-desc{
        margin-left: auto;
        margin-right: auto;
    }
}

.top-logos{
    margin: auto;
    margin-left:-10px;
}
.made-with{
    max-height: 40px;
    padding: 10px;
}

.csec-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    color: black;
    font-weight: 700;
    font-size: 1.8625rem;
    line-height: 1.9625rem;
    font-variation-settings: "wght" 671;
    letter-spacing: -0.0115em;
    max-width: 280px;
    font-family: Arial;
}
@media (max-width: 991.98px) {
    .csec-title{
        margin-bottom: 5px;
        max-width: 100vw;
    }
}
@media (max-width: 575.98px) {
    .csec-title{
        font-weight: 700;
        font-size: 1.6625rem;
        line-height: 1.6625rem;
    }
}

.csec-text{
    margin-top: auto;
    margin-bottom: auto;
}

.csec-subtitle {
    margin-bottom: 20px;
    max-width: 360px;
}
@media (max-width: 991.98px) {
    .csec-subtitle{
        max-width: 100vw;
    }
}

.csec-subtitle-h {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: rgb(102,102,101);
    font-weight: 100;
    font-size: 1.0625rem;
    line-height: 1.4625rem;
    letter-spacing: 0.0115rem;
    font-family: Arial;
}

.csec-logo{
    margin-bottom: 20px;
    max-height: 60px;
    max-width: 140px;
}
@media (max-width: 991.98px) {
    .csec-logo{
        margin-bottom: 10px;
    }
}

.csec-br {
    display: block;
    margin: 10px 0;
}

.csec-img {
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 240px; 
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.1));
}

.home-hr {
    max-width: 1260px;
    margin-left:auto;
    margin-right:auto;
}

.home-ftr{
    background-color: rgb(255,254,252);
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.ftr-text{
    font-weight:100;
    font-size: 15px;
    font-family: Arial;
}
@media (max-width: 575.98px) {
    .ftr-text{
        font-size: 13px;
        line-height: 13px;
    }
}

.ftr-link{
    font-weight:400;
    color:#ac4b44;
    font-size: 15px;
    text-decoration: none;
    font-family: Arial;
}
@media (max-width: 575.98px) {
    .ftr-link{
        font-size: 13px;
        line-height: 13px;
    }
}