<nav class="navbar sticky-top navbar-expand-md">
    
    <div class="container-fluid header">
    
        <a class="navbar-brand" href="/">
            <img src={{logo}} class="app-logo d-inline-block float-left img-fluid">
            {{title}}
        </a>

        <div class="d-flex">
            <a class="btn primary nav-btn" href="/login">Log in</a>
        </div>
        
    </div>
</nav>



<div class="login-div">

    <h1 class="top-title text-center">Sign up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
        <div class="top-form">
            <div class="signup-text-c">
                <span class="signup-text">User Credentials</span>
            </div>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email address">
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
            <hr class="signup-hr">

            <div class="signup-text-c">
                <span class="signup-text">User Information</span>
            </div>
            <input class="form-control" formControlName="userName" placeholder="Enter username">
            <input class="form-control" formControlName="firstName" placeholder="Enter first name">
            <input class="form-control" formControlName="lastName" placeholder="Enter last name">
            <button class="btn secondary top-btn" [disabled]="!signupForm.valid" mat-raised-button type="submit">Continue sign up</button>
        </div>
    </form>
</div>

<hr class="home-hr">

<footer class="row home-ftr text-muted">
    <div class="col-8">
      <p class="ftr-text">
        NotesOn is a <a href="https://notion.so" class="ftr-link">Notion</a> clone! Your all-in-one workspace for notes, docs, wikis, projects, and team collaboration. 
      </p>
    </div>
    <div class="col-4">
        <p class="float-end">
            <a href="javascript:history.back()" class="ftr-link">Go Back</a>
          </p>
    </div>
</footer>