/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~quill/dist/quill.bubble.css'; 
@import '~quill/dist/quill.snow.css';
@import '~ngx-toastr/toastr';

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-track {
    background: #EDECE9;
}
::-webkit-scrollbar-thumb {
    background:#D3D1CB;
}
::-webkit-scrollbar-thumb:hover {
    background:#AEACA6;
}

.ql-container {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgb(55, 53, 47); 
    padding: 0px 0px;
}

#title .ql-container{
    font-size: 40px !important;
    font-weight: 700 !important;
    letter-spacing: -0.2px;
}

.header1 .ql-container{
    font-size: 30px !important;
    font-weight: 600 !important;
    letter-spacing: 0px;
    padding-top: 30px;
}

.header2 .ql-container{
    font-size: 26px !important;
    font-weight: 600 !important;
    letter-spacing: 0px;
    padding-top: 26px;
}

.header3 .ql-container{
    font-size: 22px !important;
    font-weight: 600 !important;
    letter-spacing: 0px;
    padding-top: 22px;
}

@media (max-width: 768px) {
    .ql-container {
        font-size: 12px;
    }
    #title .ql-container {
        font-size: 26px !important;
    }
    .header1 .ql-container{
        font-size: 21px !important;
    }
    .header2 .ql-container{
        font-size: 18px !important;
    }
    .header3 .ql-container{
        font-size: 15px !important;
    }
}

div.ql-editor {
    padding: 2px;
    overflow-x: hidden;
    padding-bottom: 8px;
}

div.ql-editor.ql-blank::before {
    color: white !important
}

div.ql-editor.ql-blank:focus::before {
    color: rgba(55, 53, 47, 0.6) !important
}

.ql-editor p{
    padding-bottom: 6px;
}

.ql-tooltip {
    margin: -10px 90px 10px 90px;
    position: relative;
    background-color: rgb(248, 247, 247) !important;
    box-shadow: 0 3px 2px -2px gray;
    min-width: 330px !important;
}
.ql-formats .ql-picker-options{
    background-color:rgb(248, 247, 247);
}

.ql-tooltip-arrow {
    display: none !important;
}

.ql-tooltip-editor input {
    color:black !important;
}

.ql-bubble .ql-stroke {
    stroke: black !important;
}

.ql-bubble .ql-fill {
    fill: black !important;
}

.ql-formats button:hover {
    background-color: bisque;
}

.ql-formats .ql-picker-label:hover {
    background-color: bisque;
}

.ql-formats .ql-picker-options {
    max-height: 80px;
    overflow-y: scroll;
    padding-bottom: 15px !important;
}

.ql-color .ql-picker-options {
    width:168px !important;
    right:0px;
}

.ql-background .ql-picker-options {
    width:168px !important;
    right:0px;
}

.ql-align .ql-picker-item:hover {
    background-color:bisque !important;
}

.ql-color .ql-picker-item:hover {
    border: 3px solid #504d4d !important;
}

.ql-background .ql-picker-item:hover {
    border: 3px solid #504d4d !important;
}


.ql-editor a::before {
    display: none;
    background-color: rgba(248, 247, 247, 0.9) !important;
    font-size: 10px !important;
    color:#504d4d !important;
    top: 8px !important;
    box-shadow: 0 3px 2px -2px gray;
    z-index: 100 !important;
    padding: 0px 8px !important;
    position: relative;
}

.ql-editor a::after {
    display: none;
}


.ql-editor a{
    cursor: pointer; 
}

/* .toast-container {
  background-image: linear-gradient(purple,red) !important;
  border-radius: 22px !important; 
  box-shadow: -5px 8px 16px 0px rgba(0,0,0,0.3) !important;
  margin-bottom: 2px !important;
} */

/* .toast-container .toast {
  margin: 2px !important;
  box-shadow: none !important;
  border-radius: 20px !important;
  background-color: #fff !important;
} */

/* .toast-success::after{
  content: '\f00c' !important;
  font-family: 'FontAwesome' !important;
  position: absolute !important;
  top: 14px !important;
  left: 15px !important;
  color: #333 !important;
  font-size: 1.5em !important;
} */

/* .toast-title{
  color: purple !important;
  font-size: 16px !important;
} */

.toast-success {
    background-color: rgb(61, 114, 61);
    border-radius: 30px !important;
    max-width: 260px !important;
    max-height: 50px !important;
}

.toast-error {
    background-color: rgb(160, 91, 85);
    border-radius: 30px !important;
    max-width: 260px !important;
    max-height: 50px !important;
}

.toast-warning {
    background-color: rgb(155, 160, 85);
    border-radius: 30px !important;
    width: 356px !important;
    max-height: 50px !important;
}

.toast-message{
  font-family: 'Segoe UI'!important;
  font-size: 14px !important;
  font-weight: 100 !important;
  letter-spacing: 0.2px !important;
}

.cdk-overlay-container {
    z-index: 1000 !important;
}