.profile-block {
  margin: auto;
  position: relative;
  width: 100%;
}

.cover-container{
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}

.profile-cover {
  height: min(50vw, 320px);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cover {
  width: 100%;
}

.cover-hidden {
  display: hidden;
  height: 125px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.profile-img {
  bottom: 0px;
  box-shadow: none;
	display: block;
	left: 100px;
	padding:0px;
	position: absolute;
	height: 136px;
	width: 136px;
	z-index:9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.27);
  height:136px;
  width:136px;
  object-fit: cover;
}

@media (max-width: 568px) {
  .profile-img {
    height: 50px;
    width: 50px;
    left: 50px;
    bottom: 30px;
  }

  .profile-img img {
    height:100px;
    width:100px;
    object-fit: cover;
  }
}

.block-menu {
  clear: right;
  padding-left: 245px;
}

.block-menu ul{
	margin:0;
	padding:0;
}

.block-menu ul li{
	display:inline-block;
}

.block-menu ul li div{
  float: left;
  font-size: 12px;
  font-weight: 100;
  height: 28px;
  margin: 10px 2px 10px 2px;
  padding: 4px 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-transform:capitalize;
  text-decoration: none;
  font-family: 'Noto Sans';
}

@media (max-width: 568px) {
  .block-menu {
    padding-left: 130px;
  }
}

.block-menu ul li div:hover {
  background-color: rgba(10,10,10,0.05);
}
.block-menu ul li div{
  color: white;
  transition: 1s ease;
}
.block-menu:hover ul li div{
  color: rgba(10,10,10,0.35) !important;
  transition: 1s ease;
}

.fa-picture-o {
  padding: 0px;
  font-size: 24px;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-text-fill-color: rgb(15, 15, 15, 0.1);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(15, 15, 15, 0.5);
  margin-bottom:4px
}

.dropdown-menu.show {
  min-width: 120px;
  padding: 0px !important;
  font-size: 14px;
  margin:0px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: rgba(55, 53, 47, 0.8)
}
input[type="file"] {
  display: none;
}

.space-info {
  margin:80px 40px 0px 40px;
  padding: 10px;
}

.space-title {
  margin: 0px;
  font-family: 'Segoe UI';
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 56px;
}

.space-sub {
  margin: 0px;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 30px;
  color:rgba(0, 0, 0, 0.9)
}

.description {
  margin:0px;
  max-width: 900px;
  font-family: 'Segoe UI';
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}

.footer {
  margin: 0px;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 100;
  margin-top: 40px;
  color:rgba(0, 0, 0, 0.9)
}

@media (max-width: 568px) {
  .space-info {
    margin:40px 20px 0px 20px;
    padding: 10px;
  }

  .space-title {
    font-size: 40px;
    line-height: 44px;
  }

  .space-sub {
    font-size: 12px;
  }

  .description {
    font-size: 16px;
    line-height: 19px;
  }

  .footer{
    font-size: 12px;
  }
}